.product-card {
    margin: 16px 0;
}

.product-img {
    max-height: 150px;
}

.product-card-content {
    align-items: center;
    flex-wrap: wrap;
}

.product-card-content > div {
    margin: 8px;
}

.text-center {
    text-align: center;
}